//
// Глобальные цвета с названиями из фигмы
//

:root {
  --Black: #141414;
  --dark-grey: #131415;
  --White: #fff;
  --gray: #f5f5f5;
  --Gradient: linear-gradient(180deg, #dbb8ff 0%, #f1efdc 100%);
}
