@font-face {
  font-family: 'Interphases Pro Trial';
  src: url('~/fonts/Interphases-regular/TT Interphases Pro Trial Regular.woff') format('woff');
  src: url('~/fonts/Interphases-regular/TT Interphases Pro Trial Regular.eot') format('eot');
  src: url('~/fonts/Interphases-regular/TT Interphases Pro Trial Regular.otf') format('otf');
  src: url('~/fonts/Interphases-regular/TT Interphases Pro Trial Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Interphases Pro Trial';
  src: url('~/fonts/Interphases-medium/TT Interphases Pro Trial Medium.woff') format('woff');
  src: url('~/fonts/Interphases-medium/TT Interphases Pro Trial Medium.eot') format('eot');
  src: url('~/fonts/Interphases-medium/TT Interphases Pro Trial Medium.otf') format('otf');
  src: url('~/fonts/Interphases-medium/TT Interphases Pro Trial Medium.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Ramillas Trial';
  src: url('~/fonts/Ramillas-italic/TT Ramillas Trial Italic.woff') format('woff');
  src: url('~/fonts/Ramillas-italic/TT Ramillas Trial Italic.eot') format('eot');
  src: url('~/fonts/Ramillas-italic/TT Ramillas Trial Italic.otf') format('otf');
  src: url('~/fonts/Ramillas-italic/TT Ramillas Trial Italic.ttf') format('ttf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Ramillas Trial';
  src: url('~/fonts/Ramillas-regular/TT Ramillas Trial Regular.woff') format('woff');
  src: url('~/fonts/Ramillas-regular/TT Ramillas Trial Regular.eot') format('eot');
  src: url('~/fonts/Ramillas-regular/TT Ramillas Trial Regular.otf') format('otf');
  src: url('~/fonts/Ramillas-regular/TT Ramillas Trial Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}