//
// Глобальные стили корневых и базовых элементов, размеры блоков контента и т.п.
//

body{
  &.-locked {
    overflow: hidden;
  }
  font-family: 'Interphases Pro Trial';
  @include desctop-caption-17;
  color: var(--Black);
}

.container{
  max-width: 1568px;
  padding: 0 24px;
  width: 100%;
  margin: 0 auto;
}

@include desktop-medium{
  .container{
    max-width: 1328px;
  }
}