//
// Глобальные стили корневых и базовых элементов, размеры блоков контента и т.п.
//
:root {
  --scroll: 0;
}

html,
button,
select,
a {
  cursor: none;
}
body {
  position: relative;
  &.-locked {
    overflow: hidden;
  }
  font-family: "Interphases Pro Trial";
  @include desctop-caption-17;
  color: var(--Black);
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  max-width: 1568px;
  padding: 0 24px;
  width: 100%;
  margin: 0 auto;
}

@include desktop-medium {
  .container {
    max-width: 1328px;
  }
}

.tablet-mobile-only {
  @include desktop {
    display: none !important;
  }
}

.desktop-only {
  @include tablet {
    display: none !important;
  }
}

@include tablet {
  body {
    @include mob-body-14;
  }
  .container {
    padding: 0 40px;
  }
}
@include mobile {
  .container {
    padding: 0 16px;
  }
}
