// desktop title

@mixin desctop-H1 {
  font-size: 104px;
  font-style: normal;
  font-weight: 500;
  line-height: 112px;
  letter-spacing: -5.2px;
}

@mixin desctop-H2{
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  line-height: 76px; 
  letter-spacing: -2.04px;
}

@mixin desctop-H3{
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -1.35px;
}

@mixin desctop-caption-17 {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

@mixin desctop-caption-17-med{
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@mixin desctop-body-22{
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.44px;
}

// RAM

@mixin desctop-H5-ram{
  font-family: "Ramillas Trial";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.48px;
}

// mob 

@mixin mob-H1{
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -2.08px;
}

@mixin mob-H2{
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: -1.2px;
}

@mixin  mob-H3{
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; 
  letter-spacing: -0.84px;
}

@mixin mob-body-14{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin  mob-body-14-med{
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

// RAM

@mixin mob-H1-ram {
  font-family: "Ramillas Trial";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -2.08px;
}

@mixin mob-H3-ram{
  font-family:  "Ramillas Trial";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.84px;
}

@mixin mob-h4-22-ram {
  font-family: "Ramillas Trial";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  letter-spacing: -0.66px;
}

@mixin mob-sub-16{
  font-family: "Ramillas Trial";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
  letter-spacing: -0.32px;
}

@mixin mob-body-14-ram{
  font-family: "Ramillas Trial";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: -0.14px;
}
