.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: calc(1s * 1.3) cubic-bezier(0.19, 1, 0.22, 1);
  flex-shrink: 0;
  svg {
    transition: calc(1s * 1.3) cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    background: var(--Black);
    svg {
      color: #fff;
    }
  }
  // SIZE
  &.-large {
    width: 56px;
    height: 56px;
    svg {
      font-size: 28px;
    }
  }
  &.-small {
    width: 36px;
    height: 36px;
    svg {
      font-size: 16px;
    }
    // костыль с иконкой надо поправить
    &:hover {
      svg path {
        stroke: #fff;
      }
    }
  }
  &.-custom{
  }
  // BG - COLOR
  &.-default{
    background: #f5f5f5;
  }
  &.-white{
    background: var(--White);
  }
  &.-default,
  &.-white{
    &:hover {
      background: var(--Black);
      svg {
        color: #fff;
      }
    }
  }
}

@include tablet{
  .round-button{
    &.-large {
      width: 48px;
      height: 48px;
      svg {
        font-size: 24px;
      }
    }
  }
}
@include mobile{
  .round-button{
    // &.-small{
    //   width: 24px;
    //   height: 24px;
    //   svg{
    //     font-size: 10px;
    //   }
    // }
  }
}