.tabs {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.tab {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-radius: 20px;
  background: #f5f5f5;
  @include mob-body-14-med;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  &.-active {
    background: var(--Black);
    color: var(--White);
  }
  &.-white {
    background: var(--White);
    color: var(--Black);
  }
}
@include tablet-small {
  .tab {
    @include mob-body-14;
    position: relative;
    span {
      transition: 0.2s ease-in-out;
      &:nth-child(2) {
        // @include mob-body-14-db;
        font-weight: 500;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
      }
    }
    &.-active {
      span {
        &:nth-child(1) {
          opacity: 0;
        }
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }
}
