.texts {
  display: flex;
  gap: 24px;
  &.-column {
    flex-direction: column;
    align-items: flex-start;
  }
}
.text {
  max-width: 411px;
  width: 100%;
  &.-bold {
    @include desctop-H5;
  }
}
@include tablet-small {
  .texts {
    gap: 16px;
  }
  .text {
    max-width: 301px;
    &.-bold {
      @include mob-body-14-db;
    }
  }
}
@include mobile {
  .text {
    max-width: 100%;
  }
  .texts {
    flex-direction: column;
  }
}
